@import "tailwindcss";

:root {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

@theme inline {
  --font-sans: var(--font-inter);
}

body {
  font-family: var(--font-sans);
}

@media print {
  @page {
    size: 1920px 1080px;
    margin: 0;
  }
}
